includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false

    parallel:
        maximumNumberOfProcesses: 1

    paths:
        - app/

    level: 6
